@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
  color: #333;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom selection color */
::selection {
  background: #e3f2fd;
  color: #2196f3;
}
